.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.photo-equipe {
  width: 100px;
  border-radius: 50%;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.header h1 {
  margin-left: 30px;
  white-space: nowrap;
}



/* Bibliothèque */
.illustration-bibli {
  height: 200px;
}

.book-grid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.book-cover {
  width: 400px;
}

/* Ateliers 

.ateliersContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding-left: 20px;
  padding-right: 20px;
}*/

.ateliersContainer{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.detailsAtelier{
  padding : 20px;
  width: 250px;
  height: 300px;
  border-radius: 10px;
  background-color: rgb(255,227,234);
  /*background-color: rgba(232,241,255);*/
}

.descriptionAtelier {
  text-align: left;
}

.informations {
  text-align: left;
}

.workshop-img {
  width: 400px;
}

/* Equipe */

.membre-grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
}

.membre-equipe {
  border-radius: 10px;
  
}

.membre-equipe p {
  padding: 20px;
  text-align: left;
  width: 300px;
}