.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.photo-equipe {
  width: 100px;
  border-radius: 50%;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.header h1 {
  margin-left: 30px;
  white-space: nowrap;
}



/* Bibliothèque */
.illustration-bibli {
  height: 200px;
}

.book-grid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.book-cover {
  width: 400px;
}

/* Ateliers */

.ateliersContainer{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 50px;
}

.vignette-atelier{
  width: 250px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border: 0.5px solid rgba(25, 25, 25, 0.3);
  border-radius: 15px;
}

.vignette-atelier h2 {
  display: inline-block;
  background-color: rgb(255,227,234, 0.7);
  background-size: contain;
  border-radius: 20px;
  padding : 10px 20px;
  font-size: 14px;
  text-align: left;
  color: #CF4973;
}

.vignette-atelier p {
  padding : 10px 20px 10px 20px;
  text-align: left;
  margin: 0;
}

.vignette-atelier img {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.vignette-atelier .tarif {
  color: black;
  font-size: 20px;
}

.vignette-atelier button{
  background-color: rgb(212,236,226, 0.5);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  margin: 7px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(117, 148, 135);
}

.detailsAtelier{
  padding : 20px;
  width: 600px;
  text-align: left;
}


.workshop-body {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}

.inscription-box{
  align-self: flex-end;
  background-color: rgb(255,227,234);
  border-radius: 15px;
  padding: 10px 20px;
}

.inscription-box button{
  background-color: pink;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  margin: 7px;
  font-weight: bold;
  text-transform: uppercase;
  color: #6d0133;
}

.quantity {
  padding: 10px;
}

.tarif-atelier {
  font-size: 20px;
  font-weight: bold;
}

.small {
  font-size: 12px;
}

.descriptionAtelier {
  text-align: left;
}

.informations {
  text-align: left;
}

.workshop-img {
  height: 250px;
}

.carrousel-workshop {
  display: flex;

}

/* Equipe */

.membre-grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
}

.membre-equipe {
  border-radius: 10px;
  
}

.membre-equipe p {
  padding: 20px;
  text-align: left;
  width: 300px;
}