@font-face {
  font-family: Shizuru;
  src: url(../public/Shizuru-Regular.ttf);
}

@font-face {
  font-family: Arvo;
  src: url(../public/Arvo-Bold.ttf);
}

@font-face {
  font-family: Arvo;
  src: url(../public/Arvo-Regular.ttf);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.photo-equipe {
  width: 100px;
  border-radius: 50%;
}

/* Body */

body {
  background-color: rgb(244,241,239);
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  font-family: Arvo;
}

.header h1 {
  margin-left: 30px;
  white-space: nowrap;
  font-family: Shizuru;
  font-size: 20px;
}

/* Home */

.home {
  margin-left: 100px;
  margin-right: 100px;
}

.home h2 {
  margin-top: 70px;
  text-align: left;
  font-family: Arvo;
  font-size: 30px;
}

.flex {
  display: flex;
}

.hero {
  width: 45%;
  text-align: left;
  margin-top: 150px;
  margin-bottom: 50px;
}

.hero h1 {
  font-size: 40px;
  font-family: Arvo;
}

.hero p {
  font-size: 18px;
  line-height: 1.5;
}

.hero button {
  display: inline-block;
  background-color: rgba(197,63,62, 0.3);
  background-size: contain;
  border-radius: 20px;
  padding : 10px 20px;
  border: none;
  font-size: 18px;
  text-align: left;
  color: rgb(197,63,62);
}

.flex img {
  align-self: flex-end;
  margin-left: 150px;
}


/* Bibliothèque */
.illustration-bibli {
  height: 200px;
}

.book-grid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.book-cover {
  width: 400px;
}

/* Ateliers */

.ateliersContainer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
}

.vignette-atelier{
  width: 260px;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border: 0.5px solid rgba(25, 25, 25, 0.3);
  border-radius: 15px;
  background-color: white;
}

.vignette-atelier h2 {
  padding-left : 20px;
  margin-top: 20px;
  font-size: 16px;
  text-align: left;
  color: rgb(31,31,31);
  font-family: Arvo;
}

.vignette-atelier p {
  padding : 10px 20px 10px 20px;
  text-align: left;
  margin: 0;
  color: rgb(31,31,31);
}

.vignette-atelier img {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.vignette-atelier .tarif {
  color: rgb(31,31,31);
  font-size: 20px;
  font-weight: bold;
}

.vignette-atelier .localisation {
  color: #949494;
  font-size: 13px;
}

.vignette-atelier button{
  background-color: rgb(212,236,226, 0.5);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  margin: 7px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(117, 148, 135);
}

.detailsAtelier{
  padding : 20px;
  width: 600px;
  text-align: left;
}


.workshop-body {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}

.inscription-box{
  align-self: flex-end;
  background-color: rgb(255,227,234);
  border-radius: 15px;
  padding: 10px 20px;
}

.inscription-box button{
  background-color: pink;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  margin: 7px;
  font-weight: bold;
  text-transform: uppercase;
  color: #6d0133;
}

.quantity {
  padding: 10px;
}

.tarif-atelier {
  font-size: 20px;
  font-weight: bold;
}

.small {
  font-size: 12px;
}

.descriptionAtelier {
  text-align: left;
}

.informations {
  text-align: left;
}

.workshop-img {
  height: 250px;
}

.carrousel-workshop {
  display: flex;

}

/* Equipe */

.membre-grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
}

.membre-equipe {
  border-radius: 10px;
  
}

.membre-equipe p {
  padding: 20px;
  text-align: left;
  width: 300px;
}

